{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 mb-5">
    <h1>Data Deletion Instructions</h1>
    <p>Last updated: April 28, 2025</p>
    
    <h2>Request Data Deletion</h2>
    <p>To request deletion of your data from our service, please follow these steps:</p>
    
    <ol>
        <li>Log into your account</li>
        <li>Go to Account Settings</li>
        <li>Select "Delete My Account"</li>
        <li>Confirm deletion by entering your password</li>
    </ol>
    
    <p>Alternatively, you can email us at carzone1806@gmail.com with the subject line "Data Deletion Request" including your username and email address.</p>
    
    <h2>What We Delete</h2>
    <p>Upon receiving your request, we will delete all your personal information including:</p>
    <ul>
        <li>Account profile information</li>
        <li>Vehicle listings</li>
        <li>Messages and communications</li>
        <li>Browsing history and preferences</li>
    </ul>
    
    <h2>Timeframe</h2>
    <p>Data deletion will be completed within 30 days of your request.</p>
    
    <h2>Contact</h2>
    <p>For any questions regarding data deletion, please contact us at carzone1806@gmail.com.</p>
</div>
{% endblock %}